.navbar-center{
    font-size: 1.8em;
    width:40%;
    margin-left: 20%;
}
.totalNav{
    height: 90px;
    border-bottom: solid 1px #aaaaaa;
}
.logo{

}
.signinup{
    position: fixed;
    right: 20px;
}
.signin, .signup{
    font-size: 1.5em;
}
.nav1{
/*    padding-right: 10px;*/
/*    border-right: 1px solid;*/
/*    margin-right: 10px ;*/
}
.nav2, .nav2:hover{
    color:black;
    text-decoration: none;
}
.nav3{
    margin-left: 10px;
}
.empty{
    height:20px;
}
.navbar{
    border-bottom: 1px solid grey;
}