Link.custom-card,
Link.custom-card:hover {
  color: inherit;
  text-decoration: none;
}

.btn-success, .btn-succee:hover, .btn-success:active, .btn-success:visited {
  background-color: #ff8a57!important; 
  border-color:#ff8a57!important;
}
.btn-outline-success  {
  color: #ff8a57!important;
  border-color: #ff8a57!important;
}
.btn-outline-success:hover, .btn-outline-success:active, .btn-outline-success:visited{
  background-color: #ff8a57!important;
  color: #ffffff!important;
  border-color: #ff8a57!important;
}

.carousel-caption {
  text-shadow: #444242a6 0 0 5px;;
}

.card a {
  text-decoration: none;
  color: #666;
}
.card a:hover, a:active {
  text-decoration: none;
  color: #333;
}

.cart-item {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr auto;
  grid-column-gap: 1.5rem;
  margin: 1.5rem 0;
}